@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-10 min-h-screen bg-purple-50 flex justify-center items-center h-screen;
}

.smartphone {
  @apply relative bg-black shadow-xl overflow-hidden border-black;

  height: 712px;
  width: 350px;
  border-radius: 60px;
  border-width: 14px;
}

.cam {
  @apply absolute top-0 inset-x-0;
}

.cam-format {
  @apply h-6 w-40 mx-auto bg-black rounded-b-3xl;
}

.notifications {
  @apply mt-2 mr-5 flex justify-end space-x-1;
}
